
<div class="dashboard-container d-flex flex-column px-5">
  <% if @user_therapist %>
  <div class="assigned padded-box mt-5 d-flex">
    <%= cl_image_tag @user_therapist.photo, width: 140, class: "avatar-small mb-3" %>
    <div class="flex-2">
      <h3>Your assigned therapist is <%=
        @user_therapist.first_name %> <%= @user_therapist.last_name %></h3>
        <% if @next_booking.blank? %>
        <p>You have no upcoming sessions with your therapist</p>
        <%= link_to therapists_path do %>
        <div class="white-button">
          Book now
        </div>
        <% end %>
        <% end %>
      </div>
  </div>
  <% else %>
    <div class="assigned padded-box mt-5 d-flex">
    <%= image_tag 'faces.png', width: 140, class: "avatar-small mb-3" %>
    <div class="flex-2">
      <h3>You don't have an assigned therapist yet !</h3>
        <% if @next_booking.blank? %>
        <p>You have no upcoming sessions</p>
        <%= link_to therapists_path do %>
        <div class="white-button">
          Book now
        </div>
        <% end %>
        <% end %>
      </div>
  </div>
  <% end %>

  <% if @today_booking %>
    <div class="today border padded-box mt-5 d-flex relative">
      <h3 id="absolute">Upcoming Appointments</h3>
        <div class="calendar">
          <p id="date"> <%= @today_booking.starts_at.strftime("%d") %> </p>
          <i class="far fa-calendar" aria-hidden="true"></i>
        </div>
        <div class="pl-3 flex-grow">
          <h3 class="mb-3"> <%= @today_booking.starts_at.strftime("%A, %d.%m.%Y %H:%M") %></h3>
          <div class="d-flex flex-column justify-content-center">
            <%= link_to root_path do %>
            <i class="fas fa-video mb-3" aria-hidden="true"></i>
            <% end %>
            <h5>Start Call</h5>
          </div>
        </div>
        <div class="avatar-box">
          <%= cl_image_tag @today_booking.therapist.photo, width: 140, class: "avatar-small mb-3" %>
           <h5>Dr. <%= @today_booking.therapist.first_name %> <%= @today_booking.therapist.last_name %> </h5>
        </div>
    </div>
    <% else %>
    <div class="empty border padded-box mt-5 relative">
      <h3 id="absolute">Upcoming Appointments</h3>
      <p>You have no upcoming appointments. When you schedule one, the call button will be displayed</p>here.
    </div>
  <% end %>
  <% if !@past_bookings.blank? %>
    <div class="past padded-box mt-5 relative">
      <h3 id="absolute">Past Appointments</h3>
     <%= render partial: "shared/past_bookings", past_bookings: @past_bookings %>
    </div>
 <%  %>
  <% else %>
    <div class="empty border padded-box mt-5 relative">
      <h3 id="absolute">Past Appointments</h3>
      <p>You have not completed any sessions. When you have, you will be able to access them here.</p>
    </div>
<% end %>

</div>


    <%#= link_to 'Add to Calendar', edit_therapist_booking_path(@today_booking.therapist, @today_booking), class: "calendar-button d-flex mx-2" %>
