
<div class="dashboard-container d-flex flex-column">

  <% if @user_therapist %>
  <div class="assigned d-flex flex-column justify-content-center">
 <div class="content-wrap d-flex px-5 mb-3">
      <%= link_to therapist_path(@user_therapist) do %>
   <%= cl_image_tag @user_therapist.photo, width: 140, class: "avatar-small" %>
   <% end %>
   <div class="flex-2">
     <h4>Your assigned therapist is <%=
       @user_therapist.first_name %> <%= @user_therapist.last_name %></h4>
       <% if @user_therapist %>
       <%= link_to therapist_path(@user_therapist) do %>
       <div class="white-button">
         Book now
       </div>
       <% end %>
       <% else %>
       <%= link_to therapists_path do %>
       <div class="white-button">
         Book now
       </div>
       <% end %>

       <% end %>
     </div>
 </div>
  </div>
  <% else %>
    <div class="assigned d-flex flex-column justify-content-center">
      <div class="content-wrap d-flex px-5 mb-5 pt-5">
      <div class="avatar-small mb-3" id="no-therapist">
      </div>
    <div class="flex-2">
      <h3 class="white-text">You don't have an assigned therapist yet !</h3>
        <%= link_to therapists_path do %>
        <div class="white-button" id="dash">
          Find one now
        </div>
        <% end %>
    </div>
  </div>
  </div>

  <% end %>


<h3 id="upcoming-header">Upcoming Appointments</h3>
  <% if @today_booking %>
    <div class="today border padded-box d-flex mb-5 relative m-80">
      <div class="calendar mr-4">
          <p id="date"> <%= @today_booking.starts_at.strftime("%d") %> </p>
          <i class="far fa-calendar" aria-hidden="true"></i>
        </div>
        <div class="calendar-date pl-3 flex-grow">
          <h3 class="mb-3 today-date"> <%= @today_booking.starts_at.strftime("%A, %d %B") %> at <%= @today_booking.time.strftime("%I:%M%p")%></h3>
          <%= link_to  therapist_booking_video_session_path(@today_booking.therapist, @today_booking), class: "d-flex flex-column align-items-center" do %>
            <i class="fas fa-video mb-3" aria-hidden="true"></i>
            <% end %>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center">
        <h7 id="badge-name">Dr. <%= @today_booking.therapist.first_name %> <%= @today_booking.therapist.last_name %> </h7>
          <%= link_to therapist_path(@today_booking.therapist) do %>
          <%= cl_image_tag @today_booking.therapist.photo, width: 140, class: "avatar-small" %>
          <% end %>
          </div>


        </div>
    <% else %>
    <div class="empty border padded-box mb-5 m-80">
      <p>You have no upcoming appointments. When you schedule one, the call button will be displayed here.</p>
    </div>
  <% end %>
  <h3 id="past-header">Past Appointments</h3>
  <% if !@past_bookings.blank? %>
    <div class="past padded-box m-80 mb-5">
     <%= render partial: "shared/past_bookings", past_bookings: @past_bookings %>
    </div>
 <%  %>
  <% else %>
    <div class="empty border padded-box mb-5">
      <p>You have not completed any sessions. When you have, you will be able to access them here.</p>
    </div>
<% end %>

</div>
</div>
    </div>



    <%#= link_to 'Add to Calendar', edit_therapist_booking_path(@today_booking.therapist, @today_booking), class: "calendar-button d-flex mx-2" %>
