

  <div class="search-page ">

  <div class="filters-stick-to-nav relative">
    <div class="more-btn my-3 absolute">
        More filters
       </div>
    <div class="item-1">
        <%= form_tag therapists_path, method: :get do %>
          <div class="search-bar d-flex">
            <div class="flex-item">
              <% if params[:language].present? %>
              <%= hidden_field_tag :language, params[:language] %>
              <% end %>
              <%= text_field_tag :query,
                params[:query],
                class: "my-3 mr-3",
                id: "search-bar",
                placeholder: "Search by specialty or name" %>
            </div>
            <div class="submit mx-3">
              <%= submit_tag "Search", id: "search-button", class: "button-navy-md my-3" %>
            </div>
          </div>
        <% end %>
    </div>
    <div class="item-2 d-flex">
      <div class="filter filter-language">

         <%= form_tag therapists_path, method: :get do %>
          <% languages = [] %>
           <%  Therapist.all.each do |therapist| %>
            <% languages << therapist.language %>
            <% languages = languages.uniq %>
             <% end %>
           <div class="d-flex">
            <%= select_tag "language", options_for_select(languages.map{|s| ["#{s}", s]},:selected => params[:language]), prompt: "Language", class: "form-control", onchange: "this.form.submit()" %>
            <% if params[:query].present? %>
            <%= hidden_field_tag :query, params[:query] %>
             <% end %>
             </div>
            <% end %>

      </div>

        <div class="filter filter-rate">
          <%= form_tag therapists_path, method: :get do %>
            <div class="d-flex">
              <%= select_tag "rate", options_for_select((20..100).step(5).to_a.map{|s| ["#{s}€/hour", s]},:selected => params[:rate]), prompt: "Hourly rate", class: "form-control", onchange: "this.form.submit()" %>
              <% if params[:query].present? %>
                <%= hidden_field_tag :query, params[:query] %>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="filter filter-specialty">
        <%= form_tag therapists_path, method: :get do %>
          <div class="d-flex">
            <%= select_tag "specialty", options_from_collection_for_select(@specialties, 'name', 'name', :selected => params[:specialty]), prompt: "Specialty", class: "form-control", onchange: "this.form.submit()" %>
            <% if params[:query].present? %>
            <%= hidden_field_tag :query, params[:query] %>
            <% end %>
          </div>
        <% end %>
      </div>
        <div class="filter filter-exp toggle hidden">
          <%= form_tag therapists_path, method: :get do %>
          <div class="d-flex">
            <%= select_tag "years_exp", options_for_select((1..10).step(1).to_a.map{|s| ["#{s}", s]}, :selected => params[:years_exp]), prompt: "Years of experience", class: "form-control", onchange: "this.form.submit()" %>
            <% if params[:query].present? %>
              <%= hidden_field_tag :query, params[:query] %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="filter filter-rating toggle hidden">
        <%= form_tag therapists_path, method: :get do %>
        <div class="d-flex">
          <%= select_tag "rating", options_for_select((3..5).step(0.5).to_a.map{|s| ["#{s} stars or more", s]}, :selected => params[:rating]), prompt: "Rating", class: "form-control", onchange: "this.form.submit()" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  <div class="search-results px-5 d-flex flex-column justify-content-center">
    <% @therapists.each do |therapist| %>
      <%= link_to therapist_path(therapist) do %>
      <div class="therapist-cards">
        <div class="profile-card position-rel mx-5">
          <div class="profile-avatar-spacing d-flex flex-column align-items-center mt-3">
            <%= cl_image_tag therapist.photo, class: "avatar-small profile-avatar" %>
          <div class="stars">
            <% full = therapist.avg_rating.round(half: :down)  %>
            <% full.times do %>
              <div class="dark-star">
                <i class="fas fa-star"></i>
              </div>
            <% end %>
            <% if therapist.avg_rating % 1 != 0 %>
             <div class="half-star">
              <i class="fas fa-star-half-alt"></i>
              </div>
            <% end %>
            <% empty = 5 - therapist.avg_rating.round%>
            <% empty.times do %>
              <div class="light-star">
                  <i class="far fa-star"></i>
              </div>
            <% end %>
          </div>
        </div>
        <div class="profile-description">
          <h5 id="name"><%= "#{therapist.first_name} #{therapist.last_name}" %></h5>
          <div class="profile-description-content">
            <h6><strong> <img src="https://cdn1.iconfinder.com/data/icons/random-crafticons/48/misc-_Flag_-512.png" alt=""></strong> <%= therapist.language %></h6>
            <h6><strong>Years of Experience</strong> <%= therapist.years_exp %></h6>
            <div class="specialty-container">
              <% therapist.specialties.each do |specialty|%>

                <div class="specialty-tag">
                  <%= specialty.name %>
                </div>
              <% end %>
            </div>
            <div id="price">
                €<%= therapist.rate %> EUR/hour
           </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>

 <script>

    const moreBtn = document.querySelector(".more-btn");
    const toggles = document.querySelectorAll(".toggle");

    const callBack = () => {
      moreBtn.addEventListener('click', (event) => {
      toggles.forEach((toggle) => {
        toggle.classList.remove("hidden");
      });
      event.preventDefault;
      moreBtn.innerText = "Less filters";
      moreBtn.classList.remove("more-btn");
      moreBtn.classList.add("less-btn");
      const lessBtn = document.querySelector(".less-btn");
      lessBtn.addEventListener('click', (event) => {
      toggles.forEach((toggle) => {
        toggle.classList.add("hidden");
             });
        lessBtn.innerText = "More filters";
        lessBtn.classList.add("more-btn");
        lessBtn.classList.remove("less-btn");
        callBack();
        });
       });

    };
    callBack();


  </script>

