
<div class="search-page">
  <div class="filters stick-to-nav">
    <div class="filter-language">
      <%= form_tag therapists_path, method: :get do %>
      <%= select_tag "language", options_from_collection_for_select(Therapist.all, "language", "language") %>
      <% if params[:query].present? %>
        <%= hidden_field_tag :query, params[:query] %>
      <% end %>
      <%= submit_tag "Apply filter" %>
      <% end %>
    </div>
      <div class="filter-rate">
      <%= form_tag therapists_path, method: :get do %>
      <%= select_tag "rate", options_from_collection_for_select(Therapist.all, "rate", "rate") %>
      <% if params[:query].present? %>
        <%= hidden_field_tag :query, params[:query] %>
      <% end %>
      <%= submit_tag "Apply filter" %>
      <% end %>
    </div>
    <div class="filter-exp">
      <%= form_tag therapists_path, method: :get do %>
      <%= select_tag "years_exp", options_from_collection_for_select(Therapist.all, "years_exp", "years_exp") %>
      <% if params[:query].present? %>
        <%= hidden_field_tag :query, params[:query] %>
      <% end %>
      <%= submit_tag "Apply filter" %>
      <% end %>
    </div>
  </div>
  <div class="search-results">
    <%= form_tag therapists_path, method: :get do %>
  <% if params[:language].present? %>
    <%= hidden_field_tag :language, params[:language] %>
  <% end %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a therapist"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

   <% @therapists.each do |therapist| %>
   <%= link_to therapist_path(therapist) do %>
    <div class="therapist-cards">
      <div class="profile-card">
        <div class="profile-avatar-spacing d-flex flex-column align-items-center mt-3">
        <%= cl_image_tag therapist.photo, class: "avatar-small profile-avatar" %>
        <%= render 'shared/stars' %></p>
        </div>
        <div class="profile-description">
        <p id="name"><%= "#{therapist.first_name} #{therapist.last_name}" %></p>
          <div class="profile-description-content">
            <p><%= therapist.years_exp %> years of experience</p>
        <p> <% therapist.specialties.each do |specialty|%>
        <%= specialty.name %>
        <% end %>
        </p>
        <p>I speak <%= therapist.language %></p>
        </div>
    <p>€<%= therapist.rate %> /hour</p>
  </div>
</div>
<% end %>

   <% end %>


  </div>
</div>

<!-- Therapist.all.collect { |p| [ p.name, p.id ] }
 -->
