<div class="therapist-show-container">
  <div class="show-first-flex-item">
    <%= cl_image_tag @therapist.photo, class: "avatar-large profile-avatar mx-4" %>
    <div id="therapist-name">Dr <%= @therapist.first_name %> <%= @therapist.last_name %></div>
    <div class="stars"></div>
  </div>
  <div>
    <div class="bio-card">
      <div class="d-flex"> <p><strong>Specialties:  </strong>
        <% @therapist.specialties.each do |specialty| %>
          <div class="specialty-tag" id="specialty-tag-home">
            <%= specialty.name %>
          </div>
        <% end %>
      </div>
      <p><strong>Years of Experience</strong>: <%= @therapist.years_exp %></p>
      <div class="bio-description">
        <p><%= @therapist.bio %></p>
      </div>
    </div>
    <div class="review-card">
      <h4>Reviews</h4>
      <% 4.times do %>
        <div class="review">
          <div class="stars">
            <% full = @therapist.avg_rating.round(half: :down)  %>
            <% full.times do %>
              <div class="dark-star">
                <i class="fas fa-star"></i>
              </div>
            <% end %>
            <% if @therapist.avg_rating % 1 != 0 %>
               <div class="half-star">
                 <i class="fas fa-star-half-alt"></i>
               </div>
            <% end %>
            <% empty = 5 - @therapist.avg_rating.round%>
            <% empty.times do %>
               <div class="light-star">
                 <i class="far fa-star"></i>
               </div>
            <% end %>
          </div>
        <p>I had a great session with this therapist, I would highly recommend them.</p>
      </div>
     <% end %>
    </div>
  </div>
  <div class="show-form">
    <div class="booking-container">
      <h1 class="booking-title">Video Call</h1>
    <%= form_for [@therapist, @booking] do |f| %>
         <%= f.label :starts_at, 'Date' %>
        <%= f.text_field :starts_at, as: :string, label: "Date", data: {
      controller: "flatpickr"}, class: "cal datepicker mb-4", id: "date-picker" %>
      <div class="d-flex flex-column">
        <%= f.label :time, 'Time' %>
        <%= f.text_field :time, as: :string, label: "Time", data: {
        controller: "flatpickr"}, class: "timepicker mb-4", id: "date-picker" %>

        </div>
        <%= f.label :free, 'Duration' %>
        <%= f.select :free, options_for_select(["Free consultation (15 min)", "60 minute Session"]), class: 'booking-input form-control' %>
        <div class="d-flex justify-content-center">
        <%= f.submit 'Book now', id: "book-button", class: 'button-navy' %>
        </div>
    <% end %>
    </div>
  </div>
</div>
<div class="hidden">
<div class="testing">
  <% i = 0 %>
  <% @therapist.days_available.each do |day| %>
  <div class="d-flex flex-column day day-<%= i %>">
  <%= day.date %>
  </div>
  <div class="start-time time-<%= i %>">
      <%= day.start_time %>
    </div>
    <div class="end-time time-<%= i %>">
      <%= day.end_time %>
    </div>
  <% i += 1 %>
  <% end %>
</div>
</div>
