<nav class=<%= params[:controller] == "pages" && params[:action] == "home" ? "transparent-nav" : "normal-nav" %>>
  <%= link_to 'iWell', root_path, id: "logo" %>
  <% if user_signed_in? %>
    <%= link_to "Log out", destroy_user_session_path, id: "#", method: "delete" %>
    <a href="#">My account</a>
    <a href="#">My bookings</a>
  <% else %>
      <%= link_to "Join as a therapist", new_instrument_path, id: "#" %>
      <%= link_to "Login", new_user_session_path, id: "#" %>
    </li>
  <% end %>
</nav>




