<div class="past-sessions">
<% @past_bookings.each do |booking| %>
    <div class="past-booking-card">
      <!-- if Time.now <= @booking.start_time + 24hours -->
      <div class="therapist-avatar d-flex flex-column" style="padding: 10px 0 0 10px">
      <%= cl_image_tag booking.therapist.photo, width: 140, class: "avatar-small" %>
      <p>Dr. <%= booking.therapist.first_name %> <%= booking.therapist.last_name %> </p>
      </div>
      <div class="info">
        <h3><%= booking.starts_at.strftime("%A, %d.%m.%Y %H:%M") %></h3>
        <div class="button-container">
          <%= button_tag "Leave Review", class: "review" %>
        </div>
      </div>
    </div>
<% end %>
</div>
