<% @past_bookings.each do |booking| %>
  <div class="past-booking-card d-flex">
    <div class="avatar-box mr-4">
      <%= cl_image_tag booking.therapist.photo, width: 140, class: "avatar-small mb-3" %>
      <h5>Dr. <%= booking.therapist.first_name %> <%= booking.therapist.last_name %> </h5>
    </div>

    <div class="past-info d-flex flex-column justify-content-around ml-5">
     <div class="flex-1">
      <h3> <%= booking.starts_at.strftime("%A, %d.%m.%Y %H:%M") %></h3>
       <% if booking.free %>
       <h4> 15 Minutes </h4>
       <% else %>
       <h4> 60 Minutes</h4>
       <% end %>
     </div>
      <div class="button-container">
        <%= button_tag "Leave Review", class: "specialty-tag" %>
      </div>
    </div>
  </div>
<% end %>

