<% @next_booking.each do |booking| %>
  <div class="upcoming-booking">
  <div class="d-flex flex-row mb-3">
    <div class="booking-card">

      <div class="calendar">
      <!--   should display booking time  -->
        <p id="date"> <%= booking.starts_at.strftime("%d") %> </p>
        <i class="far fa-calendar" aria-hidden="true"></i>
        <%= link_to 'Add to Calendar', edit_therapist_booking_path(booking.therapist, booking), class: "calendar-button d-flex mx-2" %>
      </div>
      <!-- if Time.now <= @booking.start_time + 24hours -->
            <div class="info-container d-flex flex-column">
            <div class="info">
            <h3><%= booking.starts_at.strftime("%A, %d.%m.%Y %H:%M") %></h3>
            </div>
              <i class="fas fa-video" aria-hidden="true"></i>
              <%= link_to 'Start Call', therapist_booking_path(booking.therapist, booking),class: "session-button mx-2" %>

<<<<<<< HEAD
=======
<div class="upcoming-booking">
  <div class="d-flex flex-column mb-3">
    <div class="other-upcoming-card">
          <div class="info">

            <h3 id="datetime"> <p id="calendar-day">Your next appointment with <%= booking.therapist.first_name %> <%= booking.therapist.last_name %> will be on <%= I18n.l(booking.starts_at, format: :long) %> at <%= booking.time %></p></h3>
            <div class="button-container d-flex justify-content-center">
>>>>>>> master
            </div>
             <div class="therapist-avatar"">
             <%= cl_image_tag booking.therapist.photo, width: 140, class: "avatar-small" %>
              <p>Dr. <%= booking.therapist.first_name %> <%= booking.therapist.last_name %> </p>
            </div>
      </div>
  </div>
</div>
  <% end %>

